.contentBox {
  min-height: 130vh;
}

.r29 {
  box-sizing: border-box;
  position: absolute;
  width: 476px;
  height: 680px;
  left: 482px;
  top: 172px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.startSignUp {
  position: absolute;
  width: 270px;
  height: 55px;
  left: 531px;
  top: 214px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 84%;
  display: flex;
  align-items: center;
  letter-spacing: 0.122px;
  color: rgba(0, 0, 0, 0.87);
}

.addInfo {
  position: absolute;
  width: 253px;
  height: 55px;
  left: 531px;
  top: 262px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.122px;
  color: rgba(114, 114, 114, 0.87);
}

.idForm,
.emailForm,
.passwordForm,
.confirmPasswordForm,
.nameForm {
  box-sizing: border-box;
  position: absolute;
  height: 24px;
  left: 531px;
  right: 531px;
}

.idForm {
  top: 330px;
}

.emailForm {
  top: 400px;
}

.passwordForm {
  top: 470px;
}

.confirmPasswordForm {
  top: 540px;
}

.nameForm {
  top: 610px;
}

.confirmButton {
  position: absolute;
  width: 378px;
  left: 530px;
  top: 733px;
}
